/*index.html specifically*/
section > p {
  line-height: 40px;
  font-size: 18px;
}

/*index.html specifically*/
#main-img {
  float: right;
  display: block;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  margin-left: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*index.html specifically*/
#dog-img {
  float: left;
  width: 200px;
  height: 250px;
  margin-top: 20px;
  margin-right: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
