:root {
  --logo-img-size: 100px;
  --header-padding: 10px;
  --link-underline-margin: 5px;
}

html,
body {
  margin: 0;
  height: 100%;
}

.container {
  height: 100vh;
  background-color: #2a707d25;
  display: flex;
  flex-direction: column;
}
/* HEADER */
.row.header {
  font-family: "sansation_lightlight";
  background-color: whitesmoke;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: var(--header-padding);
}
/* LOGO CONTAINER */
.logo-container {
  height: var(--logo-img-size);
  display: flex;
  align-items: center;
}
/* LOGO IMG */
.logo-container img {
  width: var(--logo-img-size);
  height: var(--logo-img-size);
  position: absolute;
  padding: 0;
}
/* NAV LINK CONTAINER */
.nav-container .link-container {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  padding: 0 20px;
}

/* NAV LINKS*/
.inactive-page {
  font-style: normal;
  font-weight: 300;
  font-size: calc(var(--logo-img-size) / 3);
  color: #000000;

  display: inline-block;
  position: relative;
  text-align: center;

  text-decoration: none;

  overflow: hidden;
}
/* NAV LINK UNDERLINE */
.inactive-page::after {
  content: "";
  position: absolute;
  background-color: #1d7a8c;

  height: 2px;
  width: 0%;

  transform: translateX(-50%);

  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
/* NAV LINK EFFECT */
.inactive-page:hover {
  color: #1d7a8c;
}
/* NAV LINK UNDERLINE EFFECT */
.inactive-page:hover::after {
  width: 100%;
}
.active-page {
  color: #1d7a8c;
  font-weight: 900;
  font-size: calc(var(--logo-img-size) / 2.3);
}
.active-page::after {
  content: "";
  position: absolute;
  background-color: #1d7a8c;

  height: 2px;
  width: 100%;

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
