:root {
  --logo-img-size: 100px;
  --header-padding: 10px;
  --link-underline-margin: 5px;
}

html,
body {
  margin: 0;
}

/* HEADER */
.row.header {
  font-family: "sansation_lightlight";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
}

/* LOGO CONTAINER */
.logo-container {
  height: var(--logo-img-size);
  display: flex;
  align-items: center;
}
/* LOGO IMG */
.logo-container img {
  width: var(--logo-img-size);
  height: var(--logo-img-size);
  position: absolute;
  padding: 0;
}
/* LOGO TEXT */
.logo-container p {
  font-style: italic;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #ed8074;

  cursor: default;

  margin-left: var(--logo-img-size);
  display: none;
}

.fly-in-text {
  list-style-type: none;
  position: absolute;
  margin-left: var(--logo-img-size);
  padding: 0;
}

.fly-in-text li {
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.04em;

  color: #ed8074;
  opacity: 1;
  transition: all 2s ease;
  cursor: default;
}

.fly-in-text.hidden li {
  opacity: 0;
  transform: translateX(-300px);
}

/* NAV LINK CONTAINER */
.nav-container .link-container {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  padding: 0 20px;
}
/* NAV LINKS*/
.link-container a {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  color: #000000;

  display: inline-block;
  position: relative;
  text-align: center;

  text-decoration: none;

  overflow: hidden;
}
/* NAV LINK UNDERLINE */
.link-container a::after {
  content: "";
  position: absolute;
  background-color: #1d7a8c;

  height: 2px;
  width: 0%;

  transform: translateX(-50%);

  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
/* NAV LINK EFFECT */
.link-container a:hover {
  color: #1d7a8c;
}
/* NAV LINK UNDERLINE EFFECT */
.link-container a:hover::after {
  width: 100%;
}

/* Main Items */
.container .row.main-content {
  flex: 1 1 auto;
}
.main-content {
  background-color: #2a707d25;
  height: 100vh;
}

.main-content #hello-text {
  position: absolute;
  width: 262px;
  height: 91px;
  left: 419px;
  top: 331px;

  font-family: "elsie_swash_capsregular";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 111px;

  color: #000000;
}
.main-content #name-text {
  position: absolute;
  width: 322px;
  height: 96px;
  left: 552px;
  top: 450px;

  font-family: terminal_dosisextralight;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 81px;

  color: #000000;
}
.main-content #career-text {
  position: absolute;
  width: 706px;
  height: 69px;
  left: 645px;
  top: 624px;

  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 69px;
  /* identical to box height */

  color: #000000;
}
